body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

input[type="submit"] {
    cursor: pointer;
}

#home {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    padding: 10px;
    transition-property: "background-color";
    transition-duration: 0.2s;
}

nav a:hover {
    background-color: rgb(232,246,254);
}

nav .secondary_button {
    width: 100%;
}

#tweet_form {
    display: flex;
    flex-direction: column;
}

#tweet {
    resize: none;
    font-size: 19px;
}

#submit_tweet {
    font-size: 15px;
}

#home main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    max-width: 600px;
}

a.tweet {
    display: block;
}

.tweet {
    width: 100%;
    border-bottom: 1px solid rgb(230, 236, 240);
    transition-property: "background-color";
    transition-duration: 0.2s;
    padding: 0.7em;
}

.tweet:hover {
    background-color: rgb(245, 248, 250);
}

.tweet_username, .tweet_date {
    color: rgb(101, 119, 134);
}

.tweet_text {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.tweet_actions_bar {
    display: flex;
    justify-content: space-around;
}

.tweet_actions_bar form {
    display: inline-block;
}

.primary_button, .secondary_button {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.primary_button {
    background-color: rgb(29, 161, 242);
    color: white;
    border: none;
}

.secondary_button {
    background-color: white;
    border: 1px solid rgb(29, 161, 242);
}

#login_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#login_container #communication_block,
#login_container #utility_block,
#login_container #signup_block {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#login_container #communication_block {
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 161, 242);
    color: white;
}

#login_container #utility_block {
    justify-content: start;
    align-items: center;
}

#login_container #signup_block {
    width: 50%;
    justify-content: center;
    text-align: left;
}

#login_container ul {
    list-style-type: none;
    padding-inline-start: 0;
}

#login_container ul li {
    padding-top: 1em;
    padding-bottom: 1em;
}

#login_button {
    font-size: 15px;
    align-self: flex-end;
}

#login_container #login_form {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}

#login_container #login_form #login_username,
#login_container #login_form #login_password {
    display: flex;
    flex-direction: column;
}

#login_container #username,
#login_container #password {
    font-size: 15px;
}

#like_button, 
#retweet_button,
#replies_button {
  height: 15px;
  width: auto;
}

