body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

#home {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-weight: bold;
}

#tweets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.tweet {
    border-bottom: 1px solid rgb(230, 236, 240);
    transition-property: "background-color";
    transition-duration: 0.2s;
}

.tweet_username, .tweet_date {
    color: rgb(101, 119, 134);
}

.tweet:hover {
    background-color: rgb(245, 248, 250);
}

.tweet_actions_bar {
    display: flex;
}

.tweet_actions_bar form {
    display: inline-block;
}