:root {
    color-scheme: light dark;
    --primary: rgb(29, 161, 242);
    --primary-light: rgb(232,246,254);
    --accent: rgb(202, 32, 85);
    --black: rgb(20, 23, 26);
    --dark-gray: rgb(101, 119, 134);
    --light-gray: rgb(170, 184, 194);
    --extra-light-gray: rgb(230, 236, 240);
    --extra-extra-light-gray: rgb(245, 248, 250);
    --white: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: rgb(74, 160, 235);
        --primary-light: rgb(29, 45, 62);
        --accent: rgb(202, 32, 85);
        --black: white;
        --dark-gray: rgb(136, 153, 166);
        --light-gray: rgb(145, 151, 163);
        --extra-light-gray: rgb(56, 68, 77);
        --extra-extra-light-gray: rgb(28, 39, 51);
        --white: rgb(23, 32, 42);
    }

    #replies_button,
    #like_button:not(.undo),
    #retweet_button:not(.undo) {
        filter: invert(60%);
    }

    #home_icon,
    #notif_icon,
    #messages_icon {
        filter: invert(100%);
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: var(--white);
}

h2 {
    font-size: 27px;
    margin: 0;
}

input[type="submit"] {
    cursor: pointer;
}

#home {
    display: flex;
}

#home #sidebar,
#home main {
    border-right: 1px solid var(--extra-light-gray);
    height: 100vw;
    overflow-y: scroll;
}

#sidebar {
    padding-left: 110px;
    padding-right: 70px;
}

#sidebar,
nav {
    display: flex;
    flex-direction: column;
}

nav {
    font-size: 19px;
    font-weight: bold;
}

#sidebar a {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    transition-property: background-color;
    transition-duration: 0.2s;
    color: var(--black);
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

#sidebar a img {
    width: 28px;
    height: 28px;
}

#sidebar nav a img {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

#sidebar a:hover {
    background-color: var(--primary-light);
    color: var(--primary);
}

#home_icon,
#notif_icon,
#messages_icon {
    object-fit: cover;
    object-position: 0 0;
}

#notif_icon {
    object-position: center;
}

#messages_icon {
    object-position: right;
}

nav .secondary_button {
    width: 100%;
}

#main_header h3 {
    margin: 0;
    color: var(--black);
}

#tweet_form {
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid var(--extra-light-gray);
    padding: 0.7em;
}

#tweet {
    resize: none;
    font-size: 19px;
    background-color: var(--white);
    color: var(--black);
    border: none;
}

#tweet::placeholder {
    color: var(--light-gray);
}

#tweet_form_actions_bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#submit_tweet {
    font-size: 15px;
}

#home main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    max-width: 600px;
}

a.tweet {
    display: block;
}

.tweet, 
#main_header {
    width: 100%;
    border-bottom: 1px solid var(--extra-light-gray);
    padding: 0.7em;
    box-sizing: border-box
}

#main_header {
    padding-top: 1em;
}

#tweet_detail {
    font-size: 23px;
}

.tweet {
    transition-property: "background-color";
    transition-duration: 0.2s;
    font-size: 15px;
}

.tweet:hover {
    background-color: var(--extra-extra-light-gray);
}

.tweet_text {
    color: var(--black);
}

.tweet_username {
    color: var(--black);
    font-weight: bold;
    margin: 0px;
}

.primary_text {
    color: var(--black);
}

.secondary_text {
    color: var(--dark-gray);
    font-weight: normal;
}

.tweet_text {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.tweet_actions_bar {
    display: flex;
    justify-content: space-between;
}

.tweet_actions_bar form {
    display: inline-block;
}

.retweeted_label {
    font-size: 13px;
    margin-bottom: 0.5em;
    margin-top: 0px;
}

.primary_button, 
.secondary_button {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.primary_button {
    background-color: var(--primary);
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.secondary_button {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--primary);
    font-size: 15px;
}

a.secondary_button {
    text-decoration: none;
}

.destructive_button:hover {
    background-color: var(--accent);
    color: white;
    border: none;
}

#like_button, 
#retweet_button,
#replies_button {
  height: 15px;
  width: auto;
}

#user_header {
    padding: 0.7em;
    border-bottom: 1px solid var(--extra-light-gray);
}

#user_info_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#user_info_items p,
#user_info_items a {
    display: inline-block;
}

.user_info_website,
.user_info_website:visited {
    color: var(--primary);
}

#user_header p {
    margin-top: 0px;
    margin-bottom: 10px;
}

#user_header #followers {
    margin-left: 20px;
}

#user_tweets_or_likes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#user_follows_bar {
    margin-bottom: 10px;
}

#user_tweets_or_likes a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#login_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#login_container #communication_block,
#login_container #utility_block,
#login_container #signup_block {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#login_container #communication_block {
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: white;
}

#login_container #utility_block {
    justify-content: start;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
}

#login_container #signup_block {
    width: 50%;
    justify-content: center;
    text-align: left;
}

#login_container ul {
    list-style-type: none;
    padding-inline-start: 0;
}

#login_container ul li {
    padding-top: 1em;
    padding-bottom: 1em;
}

#login_button {
    font-size: 15px;
    align-self: flex-end;
}

#login_container #login_form {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}

#login_container #login_form #login_username,
#login_container #login_form #login_password {
    display: flex;
    flex-direction: column;
}

#login_container #username,
#login_container #password {
    font-size: 15px;
}

#user_edit_container {
    padding: 0.7em;
}

#user_edit_form {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    width: 95%;
}

#user_edit_form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0.5em;
}

#user_edit_form input[type="text"],
#user_edit_form textarea {
    font-size: 19px;
    width: 100%;
}

#user_edit_form textarea#bio {
    resize: none;
}

#user_edit_form input[type="submit"] {
    align-self: flex-end;
}

@media only screen and (max-width: 1024px) {
    #home {
        flex-direction: column;
    }

    #home main {
        max-width: 100vw;
    }

    nav {
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
        padding: 0;
        align-items: center;
    }
}