{{define "home"}}
{{template "header" .}}

<div id="home">
    <div id="sidebar">
        <a href="/">
            <img src="/static/bird.png" alt="Bird illustration." />
        </a>
        <nav>
            <a href=""><img src="/static/bird.png" alt="Bird illustration." /> Home</a>
            <a href="#0"><img src="/static/bird.png" alt="Bird illustration." /> Notifications</a>
            <a href="#0"><img src="/static/bird.png" alt="Bird illustration." /> Messages</a>
            <a href="/{{.Username}}"><img src="/static/bird.png" alt="Bird illustration." /> Profile</a>
            <form action="/logout" method="post">
                <input class="secondary_button" type="submit" value="Logout">
            </form>
        </nav>
    </div>
    <main>
        {{end}}