{{template "home" .}}
<div id="main_header">
    <h3>Home</h3>
</div>
<form id="tweet_form" action="/api/tweet" enctype="multipart/form-data" method="post">
    <textarea maxlength="140" id="tweet" name="tweet" placeholder="What's happening?"></textarea>
    <div id="tweet_form_actions_bar">
        <input id="image" name="image" type="file" accept="image/jpeg,image/png,image/gif,video/mp4" />
        <div>
            <div id="tweet_form_char_count">
                <noscript>140</noscript>
            </div>
            <input class="primary_button" id="submit_tweet" type="submit" value="Tweet">
        </div>
    </div>
</form>
{{range .Tweets}}
<article class="tweet">
    <a href="/{{.Username}}" class="tweet_username">{{.Username}}</a><span class="tweet_date secondary_text"> ·
        {{.Date}}</span>
    <p class="tweet_text">{{.Text}}</p>
    {{if .ImageURL}}
    <img class="tweet_image" src="{{.ImageURL}}" />
    {{end}}
    <div class="tweet_actions_bar">
        <a href="/tweet/{{.Id}}">
            <img id="replies_button" alt="Replies" src="/static/replies.png" />
        </a>
        {{if .Retweeted}}
        <form action="/api/unretweet" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="retweet_button" class="undo" type="image" src="/static/retweet_filled.png" alt="Undo tweet">
        </form>
        {{else}}
        <form action="/api/retweet" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="retweet_button" type="image" src="/static/retweet.png" alt="Retweet">
        </form>
        {{end}}
        {{if .Liked}}
        <form action="/api/unlike" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="like_button" class="undo" type="image" src="/static/heart_filled.png" alt="Unlike">
        </form>
        {{else}}
        <form action="/api/like" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="like_button" type="image" src="/static/heart.png" alt="Like">
        </form>
        {{end}}
    </div>
</article>
{{end}}
{{template "home_footer" .}}