{{template "home" .}}
<form id="tweet_form" action="/tweet" method="post">
    <textarea id="tweet" name="tweet" placeholder="What's happening?"></textarea>
    <input class="primary_button" id="submit_tweet" type="submit" value="Tweet">
</form>
{{range .Tweets}}
<article class="tweet">
    <a href="/{{.Username}}" class="tweet_username">{{.Username}}</a><span class="tweet_date"> *
        {{.Date}}</span>
    <p class="tweet_text">{{.Text}}</p>
    <div class="tweet_actions_bar">
        <a href="/tweet/{{.Id}}">
            <img id="replies_button" alt="Replies" src="/static/replies.png" />
        </a>
        {{if .Liked}}
        <form action="/unlike" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="like_button" type="image" src="/static/heart_filled.png" alt="Unlike">
        </form>
        {{else}}
        <form action="/like" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="like_button" type="image" src="/static/heart.png" alt="Like">
        </form>
        {{end}}
        {{if .Retweeted}}
        <form action="/unretweet" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="retweet_button" type="image" src="/static/retweet_filled.png" alt="Retweet">
        </form>
        {{else}}
        <form action="/retweet" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="retweet_button" type="image" src="/static/retweet.png" alt="Retweet">
        </form>
        {{end}}
    </div>
</article>
{{end}}
{{template "home_footer" .}}