{{template "home" .}}

<div id="main_header">
    <h3>{{.Title}}</h3>
</div>
<div id="messages">
    {{range .Messages}}
    <article class="message {{if ne $.CurrentUserId .SenderId}} other_message {{else}} own_message {{end}}">
        <main class="message_content">
            <p class="message_text">{{.Text}}</p>
        </main>
        <p class="message_date secondary_text">{{.CreatedAt}}</p>
    </article>
    {{end}}
</div>

<form id="message_form" action="/api/messages/{{.ConversationId}}" method="post">
    <textarea maxlength="140" id="message" name="message" placeholder="Start a new message"></textarea>
    <div id="message_actions_bar">
        <input class="primary_button" id="send_message" type="submit" value="Send" />
    </div>
</form>
{{template "home_footer" .}}