{{template "home" .}}

<div id="main_header">
    <h3>Conversation</h3>
</div>
{{range .Messages}}
<article class="message {{if ne $.CurrentUserId .SenderId}} other_message {{else}} own_message {{end}}">
    <p class="message_text">{{.Text}}</p>
    <p class="message_date">{{.CreatedAt}}</p>
</article>
{{end}}

<form id="message_form" action="/api/messages/{{.ConversationId}}" method="post">
    <textarea maxlength="140" id="message" name="message" placeholder="Start a new message"></textarea>
    <div id="message_actions_bar">
        <input class="primary_button" id="send_message" type="submit" value="Send" />
    </div>
</form>
{{template "home_footer" .}}