{{template "user" .}}

{{range .Tweets}}
<div class="tweet">
    {{if ne .Username $.Username}}
    {{if ne $.Username $.CurrentUsername}}
    {{if $.DisplayName}}
    <p class="retweeted_label secondary_text">{{$.DisplayName}} regweeted:</p>
    {{else}}
    <p class="retweeted_label secondary_text">{{$.Username}} regweeted:</p>
    {{end}}
    {{else}}
    <p class="retweeted_label secondary_text">You regweeted:</p>
    {{end}}
    {{end}}
    <a href="/{{.Username}}" class="tweet_username">{{.Username}}</a><span class="tweet_date secondary_text"> ·
        {{.Date}}</span>
    <p class="tweet_text">{{.Text}}</p>
    <div class="tweet_actions_bar">
        <a href="/tweet/{{.Id}}">
            <img id="replies_button" alt="Replies" src="/static/replies.png" />
        </a>
        {{if .Retweeted}}
        <form action="/api/unretweet" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="retweet_button" class="undo" type="image" src="/static/retweet_filled.png" alt="Undo regweet">
        </form>
        {{else}}
        <form action="/api/retweet" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="retweet_button" type="image" src="/static/retweet.png" alt="Regweet">
        </form>
        {{end}}
        {{if .Liked}}
        <form action="/api/unlike" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="like_button" class="undo" type="image" src="/static/heart_filled.png" alt="Unlike">
        </form>
        {{else}}
        <form action="/api/like" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="like_button" type="image" src="/static/heart.png" alt="Like">
        </form>
        {{end}}
    </div>
</div>
{{end}}

{{template "home_footer" .}}