{{template "home" .}}
<h1>{{.ThisUsername}}</h1>
<form action="/follow" method="post">
    <input type="hidden" id="username" name="username" value="{{.ThisUsername}}">
    <input type="submit" value="Follow">
</form>
{{range .Tweets}}
<div class="tweet">
    {{if ne .Username $.ThisUsername}}
    {{if ne $.ThisUsername $.Username}}
    <p>{{$.Username}} retweeted:</p>
    {{else}}
    <p>You retweeted:</p>
    {{end}}
    {{end}}
    <a href="/{{.Username}}" class="tweet_username">{{.Username}}</a>
    <p class="tweet_text">{{.Text}}</p>
    <p class="tweet_date">{{.Date}}</p>
    <div class="tweet_actions_bar">
        <a href="/tweet/{{.Id}}">
            <img id="replies_button" alt="Replies" src="/static/replies.png" />
        </a>
        {{if .Liked}}
        <form action="/unlike" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="like_button" class="undo" type="image" src="/static/heart_filled.png" alt="Unlike">
        </form>
        {{else}}
        <form action="/like" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="like_button" type="image" src="/static/heart.png" alt="Like">
        </form>
        {{end}}
        {{if .Retweeted}}
        <form action="/unretweet" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="retweet_button" class="undo" type="image" src="/static/retweet_filled.png" alt="Retweet">
        </form>
        {{else}}
        <form action="/retweet" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="retweet_button" type="image" src="/static/retweet.png" alt="Retweet">
        </form>
        {{end}}
    </div>
</div>
{{end}}
{{template "home_footer" .}}