{{template "home" .}}
<div id="user_info_bar">
    <h1>{{.ThisUsername}}</h1>
    <div id="user_actions_bar">
        {{if .CrossUsers.SecondFollowsFirst}}
        <form action="/unfollow" method="post">
            <input type="hidden" id="username" name="username" value="{{.ThisUsername}}">
            <input class="primary_button" type="submit" value="Unfollow">
        </form>
        {{else}}
        <form action="/follow" method="post">
            <input type="hidden" id="username" name="username" value="{{.ThisUsername}}">
            <input class="secondary_button" type="submit" value="Follow">
        </form>
        {{end}}
    </div>
</div>
<div>
    <span id="followers">{{.CrossUsers.Followers}} <span class="secondary_text">Followers</span></span>
    <span id="follows">{{.CrossUsers.Follows}} <span class="secondary_text">Following</span></span>
</div>
{{range .Tweets}}
<div class="tweet">
    {{if ne .Username $.ThisUsername}}
    {{if ne $.ThisUsername $.Username}}
    <p class="secondary_text">{{$.ThisUsername}} regweeted:</p>
    {{else}}
    <p class="secondary_text">You regweeted:</p>
    {{end}}
    {{end}}
    <a href="/{{.Username}}" class="tweet_username">{{.Username}}</a><span class="tweet_date secondary_text"> *
        {{.Date}}</span>
    <p class="tweet_text">{{.Text}}</p>
    <div class="tweet_actions_bar">
        <a href="/tweet/{{.Id}}">
            <img id="replies_button" alt="Replies" src="/static/replies.png" />
        </a>
        {{if .Liked}}
        <form action="/unlike" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="like_button" class="undo" type="image" src="/static/heart_filled.png" alt="Unlike">
        </form>
        {{else}}
        <form action="/like" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="like_button" type="image" src="/static/heart.png" alt="Like">
        </form>
        {{end}}
        {{if .Retweeted}}
        <form action="/unretweet" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="retweet_button" class="undo" type="image" src="/static/retweet_filled.png" alt="Undo regweet">
        </form>
        {{else}}
        <form action="/retweet" method="post">
            <input type="hidden" id="tweet_id" name="tweet_id" value="{{.Id}}">
            <input id="retweet_button" type="image" src="/static/retweet.png" alt="Regweet">
        </form>
        {{end}}
    </div>
</div>
{{end}}
{{template "home_footer" .}}